#home-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

#contacts {
    background-color: var(--bg);
    backdrop-filter: blur(16px);
    width: 30%;
    height: 100%;
    transition: 250ms;
}

#chats {
    width: 70%;
    height: 100%;
    background-color: var(--bgsolid);
    z-index: 1;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    position: relative;
    transition: 250ms;
}

#header {
    width: 100%;
    height: 64px;
    position: relative;
}

#profile {
    position: absolute;
    top: 14px;
    left: 14px;
}

#profile-picture {
    width: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border-radius: 30px;
}

.contact-picture {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.contact-name {
    font-size: 11pt;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-message {
    font-size: 10pt;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--trfg);
}

.contact-profile {
    cursor: pointer;
    display: grid;
    grid-template-columns: 64px auto;
    height: 64px;
}

.contact-profile:hover {
    background-color: var(--hover);
}

#chats .empty {
    display: none;
}

#dialog-container {
    display: flex;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(16px);
    visibility: visible;
    opacity: 1;
    transition: 250ms;
}

#dialog-container.hidden {
    visibility: hidden;
    opacity: 0;
}

.dialog-form {
    position: absolute;
    transition: 250ms;
}

.dialog-form.hidden {
    visibility: hidden;
    opacity: 0;
}

#button-back {
    position: absolute;
    top: 12px;
    left: 12px;
}

#chats-title {
    position: absolute;
    font-size: 12pt;
    top: 6px;
    text-transform: capitalize;
}

.public-chat {
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 68px;
    box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, 0.1) inset;
    background-color: var(--altbgsolid);
    transition: 250ms;
    position: relative;
}

#public-chat-container, #user-chat-container {
    height: calc(100% - 76px);
    overflow-y: scroll;
}

#public-chat-container.hidden,  #user-chat-container.hidden {
    display: none;
}

#chat-form {
    grid-template-columns: calc(100% - 84px) 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    width: 100%;
}

#chat-input {
    margin-right: 8px;
}

#chat-submit {
    width: 100%;
}

.chats-received, .chats-sent {
    padding: 16px 16px 8px 24px;
}

.chats-received .chats-contact .chats-name, .chats-sent .chats-contact .chats-name {
    display: block;
    width: 100%;
    font-size: 11pt;
    color: var(--accent);
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    margin-left: 4px;
}

.chats-sent .chats-contact .chats-name {
    text-align: end;
    margin-left: 0;
    width: calc(100% - 14px);
}

.chats-received .chats-contact .chats-picture, .chats-sent .chats-contact .chats-picture {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.chats-sent .chats-contact .chats-picture {
    grid-area: 1 / 2 / 2 / 3;
}

.chats-received .chats-message , .chats-sent .chats-message{
    margin-top: 8px;
    display: block;
    width: 100%; 
    font-size: 10pt;
    color: var(--fg);
    overflow-wrap: break-word;
}

.chats-sent .chats-message {
    text-align: end;
}

.chats-received .chats-contact {
    grid-template-columns: 30px auto;
}

.chats-sent .chats-contact {
    grid-template-columns: auto 30px;
}

.chats-sent.together, .chats-received.together {
    padding: 0 16px 8px 24px;
}

.name-container {
    display: flex;
    align-items: center;
}

#menu {
    position: absolute;
    background-color: transparent;
    box-shadow: none;
    font-size: 16pt;
    color: var(--fg);
    right: 14px;
    top: 12px;
    border-radius: 32px;
    padding: 0 10px 12px 10px;
    
}

#menu:hover {
    background-color: var(--hover);
}

#menu-popup {
    display: block;
    visibility: visible;
    opacity: 1;
    position: absolute;
    right: 14px;
    top: 56px;
    background-color: var(--bg);
    width: 192px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    transition: 250ms;
    backdrop-filter: blur(16px);
}

#menu-popup.hidden {
    visibility: hidden;
    opacity: 0;
}

#menu-popup a {
    display: block;
    padding: 16px;
    cursor: pointer;
    font-size: 10pt;
}

#menu-popup a:hover {
    background-color: var(--hover);
}

#user-manual-button {
    display: none;
    position: absolute;
    background-color: transparent;
    box-shadow: none;
    font-size: 16pt;
    color: var(--fg);
    right: 9px;
    top: 9px;
    border-radius: 32px;
    padding: 8px 15px 8px 15px;
}

#user-manual-button:hover {
    background-color: var(--hover);
}

#user-manual {
    gap: 8px;
}

.chats-username {
    cursor: pointer;
    color: var(--accent);
}

.command {
    font-size: 9pt;
    font-family: monospace;
}

.command-desc {
    font-size: 10pt;
}

.view-picture {
    width: 192px;
    height: 192px;
    border-radius: 96px;
    margin: 8px;
}

@media(max-width: 768px){
    #contacts {
        width: 100%;
    }

    #chats {
        top: 100%;
        position: fixed;
        width: 100%;
        transition: ease-in 250ms;
        opacity: 0;
    }

    #chats.selected {
        top: 0;
        opacity: 1;
        transition: ease-out 250ms;
    }

    #home-container {
        display: block;
    }
}